



  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');



  
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');



body{
    background-image: url("./images/images/images/bgnew_03.png");
}

span{
    color: #e3b52a;

    
    

}

.head{
    color: aliceblue;
    text-align: center;
  
    font-family: 'Montserrat', sans-serif;


}

img{
    max-width: 100%;
    position: relative;
    
}

.List{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
    
}

.wrapper{
    max-width: 1764px;
    width: 100%;
    display: inline-block;
    padding: 0 20px;
    align-items: center;

}

.List li{
    
    width: calc(25% - 25px);
    padding: 5px;
    
    text-align: center;
  }
  
  .flex-container{
    margin-top: 100px;
    align-items: center;
    justify-content: center
  }

  .text{
    color: white;
    text-align: left;
    font-family: 'Manrope', sans-serif;
   
  }

.first{
   
    position: relative;
   
}

.para1{
    
    position: absolute;
    left: 10px; bottom: 10px;
    
}

.Second{
   
    position: relative;
    
}

.para2{
    
    position: absolute;
    left: 10px; bottom: 10px;
    

}

.Third{
    position: relative;
    
}

.para3{
    
    position: absolute;
    left: 10px; bottom: 10px;
    
}

.Fourth{
  
    position: relative;
    
}

.para4{
    
    position: absolute;
    left: 10px; bottom: 10px;
    
}

.List{
    list-style-type: none;
  
}